<% include ./partials/header %>

<!-- Custom styles for this template -->
	<link href="/home.css" rel="stylesheet">

<div class="container">
    <main>
	<div class="jumbotron">
        <div class="page-header">
            <h2><%= blog.title %></h2>
			<p><%= blog.created.toDateString() %> </p><br>
        </div>
		<hr class = "a">
        <div class="item">
                <div class="description">
					<p>Category	: <%- blog.category %></p>
					<p>Amount	: <%=blog.amount%></p>
                    <p>Notes	: <%- blog.body %></p>
                </div><br>
                <a class="btn btn-info" href="/blogs/">Back</a>
				<a class="btn btn-primary" href="/blogs/<%= blog._id %>/edit">Edit</a>				
                <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger" Onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
                </form>
        </div>			
    </div>
    </main>
</div>

<% include ./partials/footer %>

